button {
  padding: 15px;
  min-width: 200px;
  border: none;
  border: 2px solid white;
  font-family: $primary-font;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  @include appearance(none);
  @include transition(all .2s ease-out);

  &:active,
  &:focus{
    outline: none;
  }
}