.main-content{
  position: relative;
  z-index: z("main-content", "base");
  will-change: transform;
  background-color: $white;
  @include transition(transform .2s ease-out);
}

.content-wrapper {
  min-width: 100%;
  min-height: 100vh;
  padding: 0 7px;

  @include breakpoint($large) {
    padding: 0;
    box-shadow: none;
  }
}

.main-content__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  z-index: -999;
  pointer-events: none;
  @include transition(opacity .2s ease-out);

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
    z-index: z("main-content", "overlay");
  }
}