.about-card {
  background-color: $alt-green;

  .default-card__img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 200px;
    opacity: .6;
    @include transform(translate(-50%, -50%));
  }

  hr {
    margin: 10px auto;
  }

  .card__content {
    text-align: center;
  }

  .card__content-title,
  .card__content-copy {
    font-family: $secondary-font;
    color: $off-black;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .6px;
  }

  .card__content-title {
    font-family: $primary-font;
    text-shadow: 2px 2px 0px $green;
    margin-bottom: 0;
    quotes: "“" "”" "‘" "’";
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2rem;

    &:before {
      content: open-quote;
      font-family: $secondary-font;
    }

    &:after {
      content: close-quote;
      font-family: $secondary-font;
    }
  }

  .card__content-copy {
    font-family: $secondary-font;
    line-height: 32px;
  }

  @include breakpoint($medium) {
    img {
      width: 250px;
    }

    p {
      width: 60%;
      margin: 0 auto;
    }
  }
}