.venue-hire-card {
  background-color: white;

  img {
    @include filter(brightness(50%));

    @include breakpoint($small) {
      @include filter(brightness(90%));
    }
  }

  .card__content {

    @include breakpoint($small) {
      width: 70%;
      text-align: right;
    }

    @include breakpoint($medium) {
      width: 60%;
    }
  }

  .default-card__img img {
    height: 100%;
  }

  .card__content-title {
    margin: 0;
    //border-bottom: 5px solid white;
    color: $white;
    //text-shadow: 3px 3px 0px white;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .card__content-title + hr {
    display: inline-block;
    margin: 20px 0px;
    border-bottom: 2px solid white;
  }

  .card__content-copy {
    margin-bottom: 30px;
    font-weight: 300;
    color: white;
    line-height: 28px;
    letter-spacing: 2px;
    font-family: $primary-font;
    font-weight: 300;
  }

  .card__content-btn {
    color: white;

    &:hover {
      background-color: $off-white;
      color: black;
    }
  }
}